In [2]:
#pip install openpyxl

In [3]:
#pip install xlrd

In [11]:
import pandas as pd

df = pd.read_excel("Shark.xls")
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [12]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [13]:
df.drop(columns = ['pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
    'original order', 'Unnamed: 21', 'Unnamed: 22'],axis=1,inplace=True)

In [14]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')

In [15]:
print(df.columns)

# Check missing values
print(df.isnull().sum())

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source'],
      dtype='object')
Date            0
Year            2
Type           18
Country        50
State         486
Location      567
Activity      585
Name          219
Sex           579
Age          2994
Injury         35
Fatal Y/N     561
Time         3526
Species      3131
Source         20
dtype: int64

In [16]:
for col in ['Country', 'State', 'Location']:
    df[col] = df[col].astype(str).str.strip().str.title()

# Replacing 'nan' strings with actual NaN
df.replace('Nan', pd.NA, inplace=True)

# filling missing with 'Unknown'
df[['Country', 'State', 'Location']] = df[['Country', 'State', 'Location']].fillna('Unknown')

In [17]:
df[['Country', 'State', 'Location']].head(10)

,Country,State,Location
0,Columbia,"Bolivar, Del Isolate",Catagena Province
1,Australia,Queensland,Cook Esplanade Thursday Island
2,Australia,South Australia,Kangaroo Island
3,Usa,Off California,Catalina Island
4,Costa Rica,Unknown,Cocos Islands
5,Australia,Nsw,Long Reef Sydney
6,Usa,Florida,Horseshoe Reef Key Largo
7,Usa,Texas,Galveston
8,Australia,Nsw,Cabarita Beach
9,Bahamas,Atlantic Ocean Near Big Grand Cay,North Of Grand Bahama Near Freeport

In [18]:
df['Activity'] = df['Activity'].astype(str).str.strip().str.title()

In [22]:
def categorize_activity(act):
    act = str(act).lower()
    if 'surf' in act:
        return 'Surfing'
    elif 'swim' in act:
        return 'Swimming'
    elif 'wade' in act:
        return 'Wading'
    elif 'snorkel' in act:
        return 'Snorkeling'
    elif 'dive' in act:
        return 'Diving'
    elif 'fish' in act:
        return 'Fishing'
    elif act == 'Nan' or act == '':
        return 'Unknown'
    else:
        return 'Other'

In [23]:
df['Activity_Category'] = df['Activity'].apply(categorize_activity)

In [24]:
df[['Activity', 'Activity_Category']].head(10)

                Activity Activity_Category
0   Swimming With Sharks          Swimming
1       Fishing/Swimming          Swimming
2                Surfing           Surfing
3               Swimming          Swimming
4  Diving-Tagging Sharks             Other
5                Surfing           Surfing
6             Snorkeling        Snorkeling
7               Swimming          Swimming
8                Surfing           Surfing
9           Spearfishing           Fishing

In [26]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Extract Month
df['Month'] = df['Date'].dt.month

# Step 5c: Extract Season
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'
    else:
        return 'Unknown'

df['Season'] = df['Month'].apply(get_season)

In [30]:
# Pasar todo a string, quitar espacios y poner en minúsculas
df['Sex'] = df['Sex'].astype(str).str.strip().str.lower()

# Normalizar las variantes más comunes
df['Sex'] = df['Sex'].replace({
    'm': 'Male',
    'male': 'Male',
    'f': 'Female',
    'female': 'Female'
})

# Reemplazar strings 'nan' con valor NaN real
df['Sex'] = df['Sex'].replace('nan', pd.NA)

# Rellenar faltantes con 'Unknown'
df['Sex'] = df['Sex'].fillna('Unknown')

In [33]:
df['Sex'].head(20)

0       Male
1       Male
2       Male
3       Male
4       Male
5       Male
6       Male
7     Female
8       Male
9       Male
10      Male
11      Male
12    Female
13      Male
14      Male
15    Female
16      Male
17      Male
18      Male
19      Male
Name: Sex, dtype: object